#servicioslist {
	text-align:left;
	padding-left: 20px;
	padding-right: 20px;
}

#servicioslist ul {
	padding-top: 15px;
	padding:0px;
	margin:0px;
}

#servicioslist ul li{
	font-weight: bold;
	border-bottom: 1px solid #999;
	margin-bottom:15px;
	padding-bottom: 15px;
}